# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.manifest
*.spec

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# Environment
.env
.venv
env/
venv/
ENV/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Lock files
poetry.lock
Pipfile.lock
uv.lock

# Frontend
node_modules/
*.tsbuildinfo

# Others
*.sqlite3
*.db
*.bak
*.tmp

# Models
*.onnx
*.bin
backend/models

# Ignore frontend build
frontend/dist/
frontend/build/
frontend/node_modules
